spending-track/deps/*.zip
spending-track/deps/**/**/*.jar
spending-track/deps/**/**/*.bat
spending-track/deps/**/**/*.pom
spending-track/deps/maestro/maestro/bin/maestro
kiwisaver-insight/kiwisaver_insight/__pycache__/*
kiwisaver-insight/tests/__pycache__/*
kiwisaver-insight/kiwisaver_insight/services/__pycache__/*
kiwisaver-insight/kiwisaver_insight/__pycache__/*
spending-track/tests/receipts/*.jpg
